# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
front/equilibrio_app/dist/

# OS
.DS_Store
Thumbs.db
